<div class="container">
  <h1>User Skills and Levels</h1>

  <%User.all.each do |user|%>
    <div>
      <div class="name">
        <h4><%=user.name%></h4>
      </div>
      <div class="skill">
        <%user.proficiencies.each do |proficiency|%>
        <p><%=proficiency.skill.name%> (<%=proficiency.skill.context%>), <%=proficiency.years%> years, formal: <%=proficiency.formal%></p>
        <%end%>
      </div>
    </div>
  <%end%>
</div>
